<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spetz83.spetzcounter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data xmlns:tools="http://schemas.android.com/tools"
            tools:replace="android:value"
            android:name="io.fabric.ApiKey"
            android:value="717ab51182c2e95fdf940c3195664377b6e6f291" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>